<div class="jumbotron text-center">
    <img src="images/logo.png" alt="I'm Yeoman"></br>
    <br>
    <p>
        <a class="btn btn-primary" ng-href="#/addteam"><span class="glyphicon glyphicon-plus"></span> Add A New Team</a>
        <a class="btn btn-success" ng-href="#/viewteam"><span class="glyphicon glyphicon-user"></span> View All Team  </a>
        <a class="btn btn-warning" ng-href="#/newmatch"><span class="glyphicon glyphicon-record"></span> Start A New Game</a>
    </p>
</div>
<div class="row marketing">
      <p class="lead">
        <p> Total Number Of Teams Must Be 8 </p>
        <p>Total of 8 Overs </p>
        <p>Two groups of 4 teams each.</p>
    </p>
</div>
